# Dependencies
/node_modules
/.pnp
.pnp.js
.agent
/.agent

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Media
public/landing/*.mp4

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
# .vscode/  # раскомментируйте если не хотите хранить настройки VS Code в репо
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db

# Database
prisma/**/*.db
prisma/**/*.db-journal

# TypeScript
*.tsbuildinfo

